<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eskool.com.eskoolapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:allowBackup">
        <activity
            android:name=".Splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeSlider.WelcomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".MainActivity" />

        <service
            android:name=".NotifyService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receive"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".Chat" />
        <activity android:name=".Login" />
        <activity android:name=".fab" />
        <activity android:name=".recycler" />
        <activity
            android:name=".New"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".OnlineTest.OnlineTestActivity" />
        <activity
            android:name=".Attendance.Attendance"
            android:label="Attendance" />
        <activity android:name=".Attendance.Mark_attendance" />
        <activity android:name=".Attendance.Edit_Attendance" />
        <activity
            android:name=".ClassWork.AddClassWork"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".OnlineTest.OnlineTestSummery" />
        <activity
            android:name=".Profile.TeacherProfile"
            android:label="My Profile" />
        <activity
            android:name=".Profile.ParentProfile"
            android:label="My Profile"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Home.ParentHome"
            android:label="@string/title_activity_parent_home"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".LoginPages.LoginPage" />
        <activity android:name=".RaiseRequest.RaiseRequestActivity" />
        <activity
            android:name=".Home.TeacherHome"
            android:label="@string/title_activity_teacher_home"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>